<footer class="ui-g-12">
  <ul class="ui-g-12">
    <li class="ui-g-12 ui-md-6 ui-lg-3" *ngFor="let contato of contatos; let i=index">
      <h3 *ngIf="i == 0">
        <a [href]="url[0]">
          {{ contato }}
        </a>
      </h3>
      <h3 *ngIf="i == 1">
        <a [href]="url[1]">
          {{ contato }}
        </a>
      </h3>
      <h3 *ngIf="i == 2">
        <a [href]="url[2]">
          {{ contato }}
        </a>
      </h3>
    </li>
    <li class="ui-g-12 ui-md-6 ui-lg-3">
      {{ contatos[3] }}
    </li>
  </ul>
</footer>
