@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

footer {
    position: -ms-page;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

a:link {
    color: white;
    text-shadow: .5px .5px black;
  }
  
  a:visited {
    color: white;
    text-shadow: .5px .5px black;
  }
  
  a:hover {
    color: red;
    text-shadow: .5px .5px blue;
    box-shadow: .05px 3px blue;
  }
  

  a:active {
    color: dodgerblue;
    text-shadow: .5px .5px black;
  }