@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

h1 {
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
}

.p-carousel  {
  font-family: 'Roboto Mono', monospace;
}

a:link {
    color: white;
    text-shadow: .5px .5px black;
    font-family: 'Roboto Mono', monospace;
  }
  
  a:visited {
    color: white;
    text-shadow: .5px .5px black;
    font-family: 'Roboto Mono', monospace;
  }
  
  a:hover {
    color: red;
    text-shadow: .5px .5px black;
    font-family: 'Roboto Mono', monospace;
  }
  

  a:active {
    color: blue;
    text-shadow: .5px .5px black;
    font-family: 'Roboto Mono', monospace;
  }