<!--The content below is only a placeholder and can be replaced. -->
<header class="ui-g-12">
  <ul>
    <li class="ui-g-12 ui-md-6 ui-lg-3">
        <h3>
          {{ mensagemDeBoasVindas }}!
        </h3>
    </li>
    <li class="ui-g-12 ui-md-6 ui-lg-3">
      <a href="https://angular.io" target="_blank">
          <img id="primeng" 
          src="https://angular.io/assets/images/logos/angular/angular.svg" 
          alt="Logo do PrimeNG"
        >
      </a>
    </li>
    <li class="ui-g-12 ui-md-6 ui-lg-3">
      <a href="https://spring.io/" target="_blank">
          <img id="spring" 
          src="https://cdn.auth0.com/blog/logos/spring-boot.png" 
          alt="Logo do Spring"
        >
      </a>
    </li>
    <li class="ui-g-12 ui-md-6 ui-lg-3">
      {{ nomeDoCliente }}
    </li>
  </ul>

</header>
<div class="ui-g-12" style="text-align:center">
  <ul class="ui-g-12">
    <li class="ui-g-12">
      <img 
        width="300" 
        alt="Carrinho Logo" 
        src="https://image.freepik.com/vetores-gratis/carrinho-de-compras_6427-22.jpg"
      >
    </li>
    <li class="ui-g-12">
      <img id="img-loja" src="https://image.freepik.com/vetores-gratis/e-business-conceito-vector_23-2147499037.jpg" alt="Logo da loja online">
    </li>
  </ul>
</div>

<app-roda-pe></app-roda-pe>

<router-outlet></router-outlet>
