p {
    text-align: center;
    text-shadow: .5px .5px black;
}

a:link {
    color: black;
    text-shadow: .5px .5px black;
  }
  
  a:visited {
    color: black;
    text-shadow: .5px .5px black;
  }
  
  a:hover {
    color: red;
    text-shadow: .5px .5px black;
  }
  

  a:active {
    color: blue;
    text-shadow: .5px .5px black;
  }