@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

p {
    text-align: center;
    text-shadow: .5px .5px black;
}

a:link {
    color: black;
    text-shadow: .5px .5px black;
  }
  
  a:visited {
    color: black;
    text-shadow: .5px .5px black;
  }
  
  a:hover {
    color: red;
    text-shadow: .5px .5px black;
    box-shadow: .05px 3px red;
  }
  

  a:active {
    color: blue;
    text-shadow: .5px .5px black;
  }