<h1 id="h1-loja" [ngStyle]="{'text-align': 'center'}">
  Loja
</h1>

<br>

<div class="p-grid p-justify-between">
  <div class="p-col-3"></div>
  <a [routerLink]="[ '/produtos']" class="p-col-4">
    <button style="font-family: 'Roboto Mono', monospace" pButton type="button" label="Listar os produtos do estoque" class="ui-button-danger"></button><br><br>
  </a>
  <div class="p-col-1"></div>
</div>

<div [ngStyle]="{'text-align': 'center'}">
  <h1>Liquidação</h1>
</div>

<p-carousel headerText="Produtos em Liquidação" [value]="produtos" numVisible="3" responsive=true>
  <ng-template let-produto pTemplate="item">
    <div [ngStyle]="{'margin-left': '50px'}">
      <a [routerLink]="[ '/produtos', produto.idProduto ]">
        <img [src]="produto.imagemDoProduto.localDaImagem" height="330" width="330">
      </a>
    </div>
    <div [ngStyle]="{'text-align': 'center'}">
      <a [routerLink]="[ '/produtos', produto.idProduto]">
        {{ produto.nomeProduto }}
      </a>
    </div>
  </ng-template>
</p-carousel>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-roda-pe></app-roda-pe>

<router-outlet></router-outlet>
