<h1 [ngStyle]="{'text-align': 'center'}">
  Loja
</h1>

<div class="p-grid p-justify-between">
  <div class="p-col-3"></div>
  <a [routerLink]="[ '/produtos']" class="p-col-4">
    <button style="font-family: 'Roboto Mono', monospace" pButton type="button" label="Listar os produtos do estoque" class="ui-button-danger"></button><br><br>
  </a>
  <div class="p-col-1"></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-roda-pe></app-roda-pe>

<router-outlet></router-outlet>
