<h1 [ngStyle]="{'text-align': 'center'}">
  Itens mais vistos pelos clientes.
</h1>

<br>
<br>
<br>

<p-carousel headerText="Produtos mais vistos pelos clientes" [value]="itens" numVisible="3" responsive=true>
  <ng-template let-item pTemplate="item">
    <div [ngStyle]="{'margin-left': '50px'}">
      <a [routerLink]="[ '/produtos', item.idProduto ]">
        <img [src]="item.imagemDoProduto.localDaImagem" height="330" width="330">
      </a>
    </div>
    <div [ngStyle]="{'text-align': 'center'}">
      <a [routerLink]="[ '/produtos', item.idProduto]">
        {{ item.nomeProduto }}
      </a>
    </div>
  </ng-template>
</p-carousel>

<br>
<br>
<br>
<br>
<br>

<router-outlet></router-outlet>
