<p [ngStyle]="{'text-align': 'center', 'font-size': '170%', 'font-weigth': 'bold'}">
  Detalhe do produto: {{ produto.nomeProduto }}
</p>

<br>
<br>
<br>

<div class="p-grid">
  <p-table class="p-col-12">
    <ng-template pTemplate="header">
      <tr>
        <th class="p-col-12">Imagem</th>
        <th class="p-col-12">Descrição</th>
      </tr>
      <tr>
        <td rowspan="10" class="p-align-stretch">
          <a>
            <img [src]="produto.imagemDoProduto.localDaImagem" height="330" width="330">
          </a>
        </td>
        <td class="p-col-12">
          <p>ID:  {{ produto.idProduto }}</p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Código de Barras: {{ produto.codigoBarra }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Nome: {{ produto.nomeProduto }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Valor R$: {{ produto.valorProduto }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Marca: {{ produto.marca }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Descrição: {{ produto.descricao }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Garantia: {{ produto.garantia }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Avaliação: {{ produto.avaliacao }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Gostaram: {{ produto.curtiu }} </p>
        </td>
      </tr>
      <tr>
        <td class="p-col-12">
          <p>Não Gostaram: {{ produto.naoCurtiu }} </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div id="btn-carrinho" class="p-grid">
  <div class="p-col"></div>
  <div class="p-col"></div>
  <div class="p-col" >
    <a [routerLink]="[ '/carrinho_de_compras', id_carrinho_de_compras ]">
      <button class="p-col" pButton type="button" label="Adicionar ao carrinho" class="ui-button-raised ui-button-danger"></button>      
    </a>
  </div>
</div>

<router-outlet></router-outlet>
