@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#btn-carrinho {
    margin-bottom: 30px;
}

p {
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
}

a {
    font-family: 'Roboto Mono', monospace;
}

th {
    font-family: 'Roboto Mono', monospace;
}